# .gitlab-ci.yml 파일의 push-image 작업 부분을 아래와 같이 임시 수정

push-image:
  stage: push
  tags: 
    - be
  image: alpine:latest  # 작고 가벼운 이미지로 변경
  script:
    - echo "--- 컨테이너의 DNS 설정 파일을 확인합니다 ---"
    - cat /etc/resolv.conf
    - echo "--- 'registry' 이름으로 조회를 시도합니다 ---"
    - nslookup registry