stages: [push]

variables:
  # Docker-in-Docker 설정 (필요한 환경에서 안정화)
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://docker:2375
# 주석 추가
 
  PROJECT_SLUG: "a507_car"
  IMAGE_REPO:   "${DOCKER_HUB_USERNAME}/${PROJECT_SLUG}"
  IMAGE_SHA:    "${IMAGE_REPO}:${CI_COMMIT_SHA}"
  IMAGE_LATEST: "${IMAGE_REPO}:latest"
  DOCKER_BUILDKIT: "1"

push-image:
  stage: push
  image: docker:27
  services: [docker:27-dind]
  script:
    - echo "IMAGE_REPO=$IMAGE_REPO"
    - echo "$DOCKER_HUB_TOKEN" | docker login -u "$DOCKER_HUB_USERNAME" --password-stdin docker.io
    - docker build -t "$IMAGE_SHA" -f Dockerfile .
    - docker push "$IMAGE_SHA"
    - docker tag "$IMAGE_SHA" "$IMAGE_LATEST"
    - docker push "$IMAGE_LATEST"
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
