stages:
  - push

variables:
  # Private Registry 주소를 변수로 설정
  PRIVATE_REGISTRY: "registry:5000"
  PROJECT_SLUG: "a507_car"
  
  # 이미지 경로를 Private Registry 주소에 맞게 수정
  IMAGE_REPO:   "${PRIVATE_REGISTRY}/${PROJECT_SLUG}"
  IMAGE_SHA:    "${IMAGE_REPO}:${CI_COMMIT_SHA}"
  IMAGE_LATEST: "${IMAGE_REPO}:latest"

push-image:
  stage: push
  tags: 
    - be
  image: alpine:latest  # 작고 가벼운 이미지로 변경
  script:
    - echo "--- 컨테이너의 DNS 설정 파일을 확인합니다 ---"
    - cat /etc/resolv.conf
    - echo "--- 'registry' 이름으로 조회를 시도합니다 ---"
    - nslookup registry