stages:
  - push

variables:
  PRIVATE_REGISTRY: "registry:5000"
  PROJECT_SLUG: "a507_car"
  IMAGE_REPO:   "${PRIVATE_REGISTRY}/${PROJECT_SLUG}"
  IMAGE_SHA:    "${IMAGE_REPO}:${CI_COMMIT_SHA}"
  IMAGE_LATEST: "${IMAGE_REPO}:latest"

push-image:
  stage: push
  tags: 
    - be
  image: docker:latest 
  script:
    - echo "Building Docker image..."
    - docker build -t "$IMAGE_LATEST" -t "$IMAGE_SHA" .

    - echo "Pushing image to Private Registry..."
    - docker push "$IMAGE_LATEST"
    - docker push "$IMAGE_SHA"

    - echo "CI pipeline finished successfully!"