version: '3.8'

services:
  backend:
  # env 못 읽고 있음
    image: localhost:5000/a507_car:latest
    container_name: backend-container
    restart: always
    env_file:
      - ./backend/.env
    expose:
      - "8000"                         # nginx가 프록시할 내부 포트

  nginx:
    image: nginx:latest
    container_name: nginx-container
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt:/etc/letsencrypt
      - /var/www/certbot:/var/www/certbot
    depends_on:
      - backend
