# docker-compose.yml

version: '3.8'

services:
  backend:
    build: .
    container_name: backend-container
    # CI/CD를 사용하지 않는 수동 배포이므로 image 라인은 주석 처리합니다.
    # image: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHA}

  nginx:
    image: nginx:latest
    container_name: nginx-container
    ports:
      - "80:80"
      - "443:443" # HTTPS 포트 추가
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      # Certbot 시스템 폴더를 컨테이너와 직접 연결 (가장 중요!)
      - /etc/letsencrypt:/etc/letsencrypt
      - /var/www/certbot:/var/www/certbot
    depends_on:
      - backend