# docker-compose.yml

version: '3.8'

services:
  backend:
    build: .
    image: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHA}
    container_name: backend-container

  nginx:
    image: nginx:latest
    container_name: nginx-container
    ports:
      - "80:80"
      # HTTPS를 위한 443 포트를 추가합니다.
      - "443:443"
    volumes:
      # 위에서 만든 Nginx 설정 폴더를 연결합니다.
      - ./nginx:/etc/nginx/conf.d
      # Certbot이 인증서를 저장할 폴더를 연결합니다.
      - ./certbot/conf:/etc/letsencrypt
      # Certbot이 도메인 소유권 인증 파일을 저장할 폴더를 연결합니다.
      - ./certbot/www:/var/www/certbot
    depends_on:
      - backend