version: '3.8'

services:
  backend:

    image: ${IMAGE_TO_DEPLOY}


    # 로컬에서 'docker-compose up --build'를 실행할 때 Dockerfile을 사용합니다.
    build: .
    container_name: backend-container
    # .env 파일에 정의된 환경 변수들을 컨테이너 안으로 가져옵니다.
    env_file:
      - ./backend/.env
    # Nginx가 백엔드 컨테이너에 접속할 수 있도록 포트를 노출하지만,
    # 외부 PC에 직접 연결하지는 않습니다. (FastAPI가 8000번 포트에서 실행된다고 가정)
    expose:
      - "8000"

  nginx:
    image: nginx:latest
    container_name: nginx-container
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      # HTTPS 인증서(Let's Encrypt)를 위한 볼륨 마운트
      - /etc/letsencrypt:/etc/letsencrypt
      - /var/www/certbot:/var/www/certbot
    # backend 서비스가 시작된 후에 nginx가 시작되도록 의존성을 설정합니다.
    depends_on:
      - backend