# docker-compose.yml
version: '3.8'

services:
  # Redis 서비스를 컨테이너로 정의합니다.
  redis:
    image: redis:latest
    container_name: redis-container
    restart: always
    ports:
      - "6379:6379"
    networks:
      - my-app-net

  backend:
    image: localhost:5000/a507_car:latest
    container_name: backend-container
    restart: always
    env_file:
      - ./backend/.env
    expose:
      - "8000"
    networks:
      - my-app-net
    depends_on:
      - redis # backend가 실행되기 전에 redis가 먼저 실행되도록 보장

  # Celery 워커 서비스를 컨테이너로 정의합니다.
  celery-worker:
    image: localhost:5000/a507_car:latest # backend와 동일한 이미지를 사용
    container_name: celery-worker-container
    restart: always
    command: celery -A app.celery_app worker --loglevel=info
    env_file:
      - ./backend/.env
    networks:
      - my-app-net
    depends_on:
      - backend
      - redis # celery-worker가 실행되기 전에 redis가 먼저 실행되도록 보장

  frontend:
    image: localhost:5000/a507_frontend:latest
    container_name: frontend-container
    restart: always
    env_file:
      - ./frontend/.env
    networks:
      - my-app-net

  nginx:
    image: nginx:latest
    container_name: nginx-container
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt:/etc/letsencrypt
      - /var/www/certbot:/var/www/certbot
    depends_on:
      - backend
      - frontend
    networks:
      - my-app-net

networks:
  my-app-net:
    driver: bridge