version: "3.8"
services:
  backend:
    image: ${IMAGE_TO_DEPLOY}
    container_name: backend-container
    restart: always
    pull_policy: always     # ← v2에서 지원. v1이면 생략
    env_file:
      - ./backend/.env
    expose:
      - "8000"
# nginx
  nginx:
    image: nginx:latest
    container_name: nginx-container
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
