<launch>
  <node pkg="ssafy_2" type="mgeo_pub.py" name="mgeo_pub"  output="screen"/>
  <node pkg="ssafy_2" type="gpsimu_parser.py" name="gpsimu_parser" output="screen"/>

  <!-- base_link -> Camera-1 -->
  <node pkg="tf" type="static_transform_publisher" name="tf_cam1"
        args="Xc Yc Zc Rollc Pitchc Yawc base_link Camera-1 100"/>

  <!-- base_link -> Lidar3D-2 -->
  <node pkg="tf" type="static_transform_publisher" name="tf_lidar2"
        args="Xl Yl Zl Rolll Pitchl Yawl base_link Lidar3D-2 100"/>

  <!-- base_link -> IMU-2 -->
  <node pkg="tf" type="static_transform_publisher" name="tf_imu2"
        args="Xi Yi Zi Rolli Pitchi Yawi base_link IMU-2 100"/>

  <!-- base_link -> GPS-3 -->
  <node pkg="tf" type="static_transform_publisher" name="tf_gps3"
        args="Xg Yg Zg Rollg Pitchg Yawg base_link GPS-3 100"/>

  <!-- 타겟 추격 노드 -->
  <node pkg="ssafy_3" type="test1.py" name="follow_ego" output="screen">
    <param name="self_ns"        value="Ego-0"/>
    <param name="target_ns"      value="Ego-2"/>
    <param name="target_gap_m"   value="8.0"/>
    <param name="max_vel_ms"     value="11.11"/>
    <param name="kp_yaw"         value="1.8"/>
    <param name="kp_gap"         value="0.8"/>
    <param name="ff_gain"        value="0.5"/>
  </node>

  <node pkg="ssafy_3" type="image_lane_fitting.py" name="image_lane_fitting" output="screen"/>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ssafy_3)/rviz/lane_detection_rviz.rviz" />
</launch>

