@reference "tailwindcss";

@layer components {
  /* 행 배경 (zebra 효과) */
  .event-row {
    @apply odd:bg-white even:bg-slate-50 border-b-1 border-gray-400;
  }

  /* 공통 셀 스타일 */
  .event-cell {
    @apply px-3 py-2 text-center whitespace-nowrap;
  }
  .event-cell-detail {
    @apply px-3 py-2;
  }

  /* 상태별 강조색 */
  .event-status-run {
    @apply bg-red-200;
  }

  .event-status-catch {
    @apply bg-green-200;
  }
}