@layer components {
  /* 레이아웃 */
  .dashboard {
    @apply flex h-screen relative;
  }
  .dashboard-main {
    @apply flex-1 transition-all duration-400;
  }

  /* 토글 버튼 */
  .sidebar-toggle {
    @apply fixed top-4 z-50
           p-2 border rounded
           bg-white hover:bg-gray-100
           focus:outline-none focus:ring-2 focus:ring-blue-900
           transition-all duration-400;
  }
  .sidebar-toggle-open {
    @apply left-[416px];
  }
  .sidebar-toggle-closed {
    @apply left-[16px];
  }

  /* 토글 버튼 애니메이션 */
  .sidebar-toggle-visible {
    @apply opacity-100 translate-x-0;
  }
  .sidebar-toggle-hidden {
    @apply opacity-0 -translate-x-4 pointer-events-none;
  }
}
