<launch>
    <arg name="env_path" default="/home/ubuntu/S13P21A507/sim/simulator2/catkin_ws/.env" />

    <node pkg="ssafy_1" type="vehicle_registration.py" name="vehicle_registrar" output="screen">
        <param name="car_name" value="TEST_CAR_0" />
        <param name="vehicle_type" value="0" /> <param name="env_path" value="$(arg env_path)" />
        </node>

    <node pkg="ssafy_1" type="vehicle_locate_info.py" name="location_updater" output="screen" respawn="true">
         <param name="env_path" value="$(arg env_path)" />
         </node>
    
    <node pkg="ssafy_1" type="vehicle_stat_info.py" name="status_sender" output="screen" respawn="true">
        <param name="env_path" value="$(arg env_path)" />
        </node>

</launch>
